@{
    ViewBag.Title = "";
}
<style>
    .jumbotron {
        background-image: url('../../Images/bg.jpg');
        background-size: cover;
        padding-bottom: 60px;
        margin-bottom: 60px;
        color: red;
        font-family: "微軟正黑體";
    }
</style>
<div>
    <h1></h1>
</div>
<div class="jumbotron">
    <h1>ＥＶＥＲＳＵＮ</h1>
    <p class="lead">　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　</p>
    <p><a href="http://www.eversun.com.tw" class="btn btn-primary btn-lg">昶亨官網 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>AMES 1.0</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://192.168.4.200/AMES/" target="_blank">點我進入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>AMES 2.0</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://192.168.4.109:8088/" target="_blank">點我進入 &raquo;</a></p>
    </div>    
</div>