<div class="row mb-3">
    <div class="col-md-12">
        <div style="position: relative;">
            <div class="drawer-toggle mb-2">
                <i class="bi bi-list"></i>
            </div>
            <div class="drawer-menu">
                <a href="@Url.Action("人力配置授權", "ManpowerAuthorization")" class="drawer-menu-item">
                    <i class="bi bi-building"></i> 人力配置授權
                </a>
                <a href="@Url.Action("生產單位設定", "ManpowerAuthorization")" class="drawer-menu-item">
                    <i class="bi bi-building"></i> 生產單位
                </a>
                <a href="@Url.Action("報工生產單位設定", "ManpowerAuthorization")" class="drawer-menu-item">
                    <i class="bi bi-building"></i> 報工生產單位
                </a>
                <a href="@Url.Action("權限設定", "ManpowerAuthorization")" class="drawer-menu-item">
                    <i class="bi bi-shield-lock"></i> 報工生產單位權限設定
                </a>
            </div>
        </div>
    </div>
</div>